<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>edit</title>
</head>
<body>
  <h1>수정</h1>
  <form action="/comments/<%= comment.id %>/edit">
    <textarea name="comment" id="" cols="30" rows="10">
      <%= comment.comment %>
    </textarea>
    <button>저장</button>
  </form>
</body>
</html>