@use 'reset';

section{
  width: 50vw;
  margin: 0 auto;
  margin-top: 100px;
}

%리스트박스 {
  width: 100%;
  padding: 30px 20px;
  border: 1px solid #e1e1e4;
}

@mixin 알림창박스($배경색, $글자색) {
  background-color: $배경색;
  color: $글자색;
  border-radius: 10px;
  width: 100%;
  padding:40px 20px;
  margin-top: 20px;
}

%col-6{
  width: 50%;
}
%col-4{
  width: 33.33%;
}
%col-3{
  width: 25%;
}
@mixin 열세팅($padding, $bg-color, $border-color){
  padding:$padding;
  background-color: $bg-color;
  border: 1px solid $border-color;
}

@mixin basicButton ($배경색, $글자색){
  display: block;
  border: none;
  padding: 15px 20px;
  margin: 40px auto;
  background-color: $배경색; 
  color: $글자색;
}

li{
  @extend %리스트박스;
  &.active{
    background-color: darkcyan;
    color: white;
  }
  &:hover{
    background-color: rgb(144, 210, 210);
  }
}

.alert{
  &:nth-of-type(1){
    @include 알림창박스(rgb(112, 192, 112),green);
  }
  &:nth-of-type(2){
    @include 알림창박스(rgb(104, 104, 215),blue);
  }
  &:nth-of-type(3){
    @include 알림창박스(rgb(232, 232, 117),orange);
  }
  p{
    opacity: 1;
    font-size: 20px;
  }
}

.row{
  display: flex;
  flex-flow: row nowrap;
  margin-top: 10px;

  div{
    @extend %col-6;
    @include 열세팅(30px, burlywood, red);
  }
}

.ani-button {
  @include basicButton(skyblue, white);
  font-size: 20px;
  border-radius: 5px;
  display: block;
  &:hover{
    animation: shaking 1s;
  }
  &:active{
    animation: 끼얏호 500ms ease infinite;
  }
}

.ani-x{
  @include basicButton(#FFF, #111);
  font-size: 40px;
  &:hover{
    animation: rotate 1s forwards;
  }
}

@keyframes shaking{
  0%{transform: rotate(0deg);}
  25%{transform: rotate(-20deg);}
  50%{transform: rotate(20deg);}
  100%{transform: rotate(0deg);}
}
@keyframes 끼얏호{
  0%{transform: rotate(0deg);}
  100%{transform: rotate(360deg);}
}
@keyframes rotate{
  0%{transform: rotate(0deg);}
  50%{transform: rotate(-10deg);}
  100%{transform: rotate(45deg) scale(1.5);}
}

.grid-container2{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  img{
    width: 100%;
    height: 100%;
  }

  div:first-child{
    grid-column: 1 / 3;
    grid-row: 1 / 3;
  }
  div:nth-child(2){
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }
  div:nth-child(3){
    grid-column: 2 / 3;
    grid-row: 3 / 4;
  }
  div:nth-child(4){
    grid-column: 3 / 4;
    grid-row: 1 / 2;
  }
  div:nth-child(5){
    grid-column: 3 / 4;
    grid-row: 2 / 3;
  }
  div:nth-child(6){
    grid-column: 3 / 4;
    grid-row: 3 / 4;
  }

}
