<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
</head>
<body>
  <h2>use Template <%= 5 + 5%></h2>
  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ullam tempore natus explicabo voluptas fugiat cupiditate porro assumenda nisi officiis! Ullam tempore repudiandae rerum beatae rem deleniti amet ratione libero laborum.</p>
  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ullam tempore natus explicabo voluptas fugiat cupiditate porro assumenda nisi officiis! Ullam tempore repudiandae rerum beatae rem deleniti amet ratione libero laborum.</p>
</body>
</html>