<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>randomNumber</title>
</head>
<body>
  <h1>난수 생성 -> <%= num  %></h1>
  <h2>this number is <%= num % 2 === 0 ? 'EVEN' : 'ODD' %></h2>
</body>
</html>