<section>
  <h3><%= user.username %></h3>
  <div>
    <div>
      <span>이름</span>
      <span><%= user.name %></span>
    </div>
    <div>
      <span>나이</span>
      <span><%= user.age %></span>
    </div>
    <div>
      <span>현재비밀번호</span>
      <span><%= user.password%></span>
    </div>
  </div>

</section>