<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>time</title>
</head>
<body>
  <div>
    <span>현재 시간은</span>
    <span><%= date %></span>
    <span>입니다.</span>
  </div>
</body>
</html>